#dockwindowbox {
  border-radius: 16px;
  border-style: solid;
  border-width: 1px;
  /*background-color: rgba(35, 35, 35, 0.4);*/
  border-color: rgba(180, 180, 180, 0.3);
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0.5px 0.5px rgba(75, 75, 75, 1);
  padding-left: 1px;
  padding-right: 1px;
  /*box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);*/
  /*border-color: rgba(128, 128, 128, 0.1);*/
}

#dockwindow {
  border-radius: 16px;
}

#dockitem, #dockitemactive {
  border-radius: 14px;
  margin: 0px;
  transition-duration: 0.1s;
}

#dockindicatorinactive {
  opacity: 0;
}

#dockindicatoractive {
  opacity: 0.6;
}

#dockitem:hover {
  transition-duration: 0.1s;
  background-color: rgba(120, 120, 120, 0.8);
}

#dockitemactive {
  background-color: rgba(120, 120, 120, 0.6);
}

#dockmenu {
  background-color: rgba(35, 35, 35, 0.9);
}

#dockmenuitem, #dockmenulabelitem {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
}

#dockmenulabelitem {
  color: gray;
}

#dockmenulabelitem:hover {
  background-color: transparent;
}

#panel_applications_menu_item {
  border-radius: 12px;
  background-image: none;
  border: none;
  box-shadow: none;
}

#panel_applications_menu_item:hover {
  background-color: rgba(128, 128, 128, 0.3);
}

#panel_applications_menu_search_entry {
  border-radius: 120px;
  padding: 0px 20px;
}

#panel_applications_menu_scrolled_window {
  box-shadow: none;
  border: none;
  border-image: none;
}

#panel_applications_menu_scrolled_window * {
  box-shadow: none;
  border: none;
  border-image: none;
}

.applications_menu_window_button {
  background-color: transparent;
  border: none;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.6);
  padding: 0px;
}

.applications_menu_window_button:hover {
  border: 3px solid #3584e4;
}

#transparent, #transparent * {
  /*background-color: rgba(0, 0, 0, 0.2);*/
  background-color: transparent;
}

#transparent2 {
  background-color: rgba(128, 128, 128, 0);
}
